<!DOCTYPE HTML>
<html>
	<head>
		<title>Hello {{ipc}}!</title>
		
		<style type="text/css">
		#mybox {
			position:relative;
			border-style: dashed;
			border-width:2px;
			width:1px;
			color:#000000;
			width: 800px;
			top:20px;
			margin-left:auto;
			margin-right:auto;
			padding:3px;
			font-family:Arial;
			font-size:10xp;
			}
		</style>
	</head>	
	<body>
		<div id="mybox">
			<table>
				<tr><td>Country:</td><td>{{ipc}}</td></tr>
				<tr><td>ISO-Code:</td><td>{{ipcd}}</td></tr>
				<tr><td>IP-Address:</td><td>{{ipx}}</td></tr>				
				<tr><td>Browser:</td><td>{{agent}}</td></tr>
			</table>
		</div>								
	</body>
</html>